/* init fonts */
@font-face {
  font-family: "Product Sans Regular";
  src: url("fonts/ProductSans-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans Black";
  src: url("./fonts/ttf/ProductSans-Black.ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 20px;
}



html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0b6970;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Product Sans Regular";
  font-size: 2.6rem;
  color: springgreen;
  animation: fade-in 1s linear;
  text-align: center;
}

#responsive-iframe {
  width: 100%;
  height: 600px;
  padding: 5px;
}

@media (max-width: 900px) {
  html {
    font-size: 16px;
  }
  
}

@media (max-width: 468px) {
  html {
    font-size: 12px;
  }
  #responsive-iframe {
    width: 100%;
    height: 300px;
  }
}
